body {
    background-color: #121212;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    text-align: center;
    color: #fffff5e5;
}

span {
    color: #fffff5e5;
}

h2 {
    text-align: center;
    color: #f3f3ede5;
}

.deadprojects {
    color: #00ff73;
}

.asp {
    color: #f3f58b;
}

a {
    color: inherit;
    text-decoration: none;
}

.projects {
    color: #00fff2;
}

.things {
    color: #ff6961;
}

p {
    color: #f3f3ede5;
}

.white {
    color: #dd2a7b;
}

.blue {
    color: #1DA1F2;
}

.nunito {
    font-family: 'Nunito', sans-serif;
}

.steveruu {
    color: #20f3f3;
}