.robuxtext {
    font-family: 'Roboto', sans-serif;
}

.userfound-text {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 40px;
}

.header {
    font-family: 'Roboto', sans-serif;
}

.Robux-Amount {
    font-family: 'Roboto', sans-serif;
}


.step1-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imgcheck {
    height: 4000;
    width:  4000;
}

.Robux-Amount-Selected {
    font-family: 'Roboto', sans-serif;
}